body {
  margin: ;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: space-around;
  display: flex;
  margin-top: 100px;
  margin-right: 0px;
  background-image: url("https://wallpapers.com/images/high/great-hall-room-hogwarts-57xkwb69xoa3h93n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: rgb(160, 57, 32);
  font-size: 60px;
}
